@font-face {
    font-family: 'SEGA';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA'), url('./SEGA.TTF');
}
@font-face {
    font-family: 'ROBOT';
    font-style: normal;
    font-weight: normal;
    src: local('ROBOT'), url('./SFTransRobotics.ttf');
}
.title{
    font-family: 'ROBOT';
    font-weight: 1000;
    color: black;
    margin-top: .5em;
}
hr{
    border: 3px rgb(39, 85, 87) solid;
}